logs/
**/node_modules/
**/gulp_patrones/
.idea/
**/.DS_Store
*/.DS_Store
**/__pycache__
*.aux
*.log
*.pickle
*.db
*.rdb
*.pid
*.toc
*.out
*.pickle
celerybeat-schedule                                                                     
.ipynb_checkpoints
venv/
dist/
**/distfls_start_gulp_patrones/
.DS_Store
.DS_Store
